{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-object-assign"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ]
}
