.preview {
    height: 66px;
    line-height:22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview:after {
    content: "...";
}
