<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <style>
        *{
          box-sizing:border-box;

        }
        html {
            font-family: Arial, Microsoft YaHei;
            height: 100%;
        }

        body {
            margin: 0px;
            height: 100%;
        }

        .container,
        .container>div {
            height: 100%;
            /*background-color: #F2F2F2;*/

        }
    </style>
    <div class="container"></div>
</body>

</html>
