:root {
    --primaryColor: #42b983;
}
textarea::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
    padding-left: 4px;
}
.check-switch {
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    appearance: none;
    outline: none;
    display: inline-block;
    width: 40.5px;
    height: 23px;
    position: relative;
    background-color: rgba(250,250,250);
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 30px;
    transition: cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

[data-role="check-switch"]:before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: left 0.3s;
}

[data-role="check-switch"]:checked {
    border: none;
    box-shadow: var(--primaryColor) 0 0 0 16px inset;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    box-shadow: var(--primaryColor) 0 0 0 16px inset;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

[data-role="check-switch"]:checked:before {
    left: 17.5px;
    transition: left 0.3s;
}
